$mainColor: #0F1422;
$baseColor: #EAEAEA;
$subColor: #5A5A5A;
$subColor2: #A2A2A2;
$subColor3: #707070;
$subColor4: hsla(224, 37%, 10%, 0.6);


$bgMaskColor: hsla(222, 25%, 18%, 0.8);
$footerColor: $subColor4;


$cocktailTextColor: #ccc;

$searchBgColor: $bgMaskColor;


$subTitleColor: $subColor2;

$submitColor: #C0C0C0;

$formBorderColor: $subColor3;
$formBtnColor: rgba(16, 21, 35, 0.6);


$loginUnvalidTextColor: #64A7CB;
$loginOrRegisterTextColor: $subColor3;
$loginOrRegisterLineColor: $subColor2;


$servicesTitleColor: $subColor;
$servicesBorderColor: $subColor;


$creatorBgColor: $bgMaskColor;

$contactTitleColor: $subColor;
$contactBorderColor: $subColor;
$contactEmailColor: $subColor;
$contactIconColor: $subColor;


$selectBaseColor: $subColor4;
