$cBlack: #000;

$mainColor: #0F1422;
$baseColor: #EAEAEA;
$subColor: #5A5A5A;

$cocktailTextColor: #ccc;

$searchBgColor: hsla(222, 25%, 18%, 0.8);

$footerColor: hsla(224, 37%, 10%, 0.6);

$subTitleColor: #A2A2A2;

$submitColor: #C0C0C0;