@import '../vendors/bootstrap.min';
@import '../settings/variables';
@import '../settings/utils';
@import '../settings/resetFormStyles';
@import '../modules/header';
@import '../modules/mobile-menu';
@import '../modules/hero';
@import '../modules/nav';
@import '../modules/form';
@import '../modules/footer';

#global-container {
  background-color: $baseColor;
}

.nav {
  margin-bottom: 40px;
}

.confirm {
  margin-bottom: 40px;
  background-color: white;
  padding: 20px;

  & .control {
    padding: 0.4em 0.8em;
  }

  & .btns {
    display: flex;
    justify-content: space-between;

    & .form__btn {
      width: 36%;

      & input[type='submit'] {
        width: 100%;
      }
    }
  }
}

@media (min-width: 560px) {
  .confirm {
    & .btns {
      & .form__btn {
        width: 20%;
      }
    }
  }
}

@media (min-width: 990px) {
  .confirm {
    & .btns {
      & .form__btn {
        width: 10%;
      }
    }
  }
}
