@import '../vendors/bootstrap.min';
@import '../settings/variables';
@import '../settings/utils';
@import '../settings/resetFormStyles';
@import '../modules/header';
@import '../modules/mobile-menu';
@import '../modules/hero';
@import '../modules/recipe-select';
@import '../modules/footer';

.hero {
  background-color: white;
  height: 260px;

  &__logo {
    position: absolute;
    z-index: 300;
    top: 10px;
    right: 30px;

    & img {
      max-width: 100%;
      width: 70px;
      object-position: center;
      object-fit: cover;
    }
  }
}

.recipe {
  &-img {
    position: absolute;
    // top: 50%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 90%;
    // height: 50%;
    height: 60%;
    cursor: pointer;

    & .preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border: 1px solid $recipeImgBgImgBorderColor;
      border-radius: 10px;
      z-index: 400;

      & img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    &__bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border: 1px solid $recipeImgBgImgBorderColor;
      border-radius: 10px;

      & img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        background-color: rgba(255, 255, 255, 0.86);
      }
    }

    &__circle {
      position: absolute;
      z-index: 500;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $recipeImgCircleColor;

      & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }

    &__input {
      display: none;
    }
  }

  &-name {
    background-color: $recipeNameBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    &__title {
      font-size: 18px;
      margin: 0;
      color: white;
    }

    & input[type='text'] {
      text-align: center;
      background-color: transparent !important;
      border-bottom: 1px solid $recipeNameInputBorderColor !important;
      text-decoration: none !important;
      border: none;
      width: 100%;
      &::placeholder {
        color: $recipeNameInputPlaceholderColor;
      }
    }
  }

  &-info {
    background-color: $recipeInfoBgColor;
    padding: 30px 0;

    & .row:last-child .form-group {
      margin-bottom: 0;
    }

    & select {
      background-color: white;
    }

    & label,
    input[type='radio'] {
      display: none;
    }
  }

  &-method {
    padding: 50px 15px;

    &__title::after {
      background-color: $subColor;
    }
    & .form-group {
      display: flex;
      justify-content: space-around;
      margin-bottom: 14px;

      & .input {
        width: 40%;
        display: flex;
        align-items: center;

        & label {
          display: inline-block;
          flex-shrink: 0;
          margin-bottom: 0;
          color: $subColor3;
        }
        & input[type='text'] {
          border: 1px solid $subColor3 !important;
          display: inline-block;
          margin-right: 10px;
          padding: 2px 4px;
          width: 100%;
        }
      }
    }
    &__delete {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      & p {
        margin-bottom: 0;
        color: subColor3 !important;
      }
    }

    & .add {
      text-align: right;
      font-size: 14px;

      & .add-btn {
        color: $subColor;
        transition: 0.2s ease-out;
        cursor: pointer;
        padding: 4px 8px;

        &:hover {
          color: $mainColor;
        }
      }
    }
  }

  &-memo {
    position: relative;

    &-inner {
      padding: 40px 0;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // height: 100%;
      // z-index: 100;
    }

    &__title {
      color: white !important;
      display: block;

      &::after {
        background-color: white;
      }
    }
    &__description {
      position: relative;
      margin-bottom: 30px;

      & .textarea {
        border-radius: 10px;
        padding: 8px;
        outline: none;
        width: 100%;
        min-height: 140px;
      }
    }
    &__post {
      letter-spacing: 2px;
      text-align: center;

      & .post-btn {
        display: inline-block;
        padding: 6px 36px;
        border: 1px solid white;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        transition: background-color 0.1s, color 0.3s;

        &:hover {
          background-color: white;
          color: $mainColor;
        }
      }
    }

    &__img {
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-position: center;
        object-fit: cover;
        z-index: -200;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgMaskColor;
        z-index: -100;
      }
    }
  }
}

#contents-container {
  padding-bottom: 0;
}
.footer {
  position: static;
}

.inactive {
  display: none;
}
.active {
  display: block;
}

@media (min-width: 353px) {
}
@media (min-width: 375px) {
  .hero {
    height: 260px;
  }
  .recipe {
    &-img {
      width: 75%;
    }
  }
}
@media (min-width: 414px) {
}
@media (min-width: 444px) {
  .recipe {
    &-img {
      width: 65%;
    }
  }
}
@media (min-width: 474px) {
}
@media (min-width: 504px) {
  .recipe {
    &-img {
      width: 55%;
    }
  }
}
@media (min-width: 534px) {
}
@media (min-width: 564px) {
  .recipe {
    &-img {
      width: 50%;
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 576px) and (orientation: landscape) {
}
@media (min-width: 768px) {
  .hero {
    height: 340px;
  }
  .recipe {
    &-img {
      top: 50%;
    }
    &-method {
      & .add {
        margin-right: 60px;
      }
    }
  }
}

@media (min-width: 768px) and (orientation: landscape) {
}
@media (min-width: 992px) {
  .hero {
    height: 400px;
  }
  .recipe {
    &-img {
      width: 40%;
    }
    &-method {
      & .add {
        margin-right: 150px;
      }
    }
  }
}

@media (min-width: 992px) and (orientation: landscape) {
}

@media (min-width: 1200px) {
  .hero {
    height: 450px;
  }
  .recipe {
    &-img {
      width: 36%;
    }
  }
  &-method {
    & .add {
      margin-right: 200px;
    }
  }
}
