@import '../vendors/bootstrap.min';
@import '../settings/variables';
@import '../settings/utils';
@import '../settings/resetFormStyles';
@import '../modules/header';
@import '../modules/mobile-menu';
@import '../modules/hero';
@import '../modules/form';
@import '../modules/footer';

#global-container {
  background-color: $baseColor;
}

.register {
  margin-bottom: 40px;
  background-color: white;
  padding: 20px;

  & input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='submit'] {
    width: 100%;
  }

  &__notation {
    background-color: $subColor;
    margin-bottom: 40px;

    & .notation {
      height: 60px;
      font-size: 16px;
      color: $baseColor;
      line-height: 60px;
      text-align: center;
    }
  }
}
